[Unit]
Description=Gunicorn server for SITENAME
After=network.target

[Service]
User=chris
Group=www-data
WorkingDirectory=/home/chris/sites/SITENAME/source
ExecStart=/home/chris/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
